# ==========================================
# Python & Framework Caches
# ==========================================
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.cache/

# ==========================================
# Virtual Environments (Local Packages)
# ==========================================
.venv/
venv/
ENV/
env/


# ==========================================
# IDEs and System Specific Files
# ==========================================
.vscode/
.idea/
.DS_Store
Thumbs.db
